# All the basic needs for this projects
# please run module load gcc opencv with install other libraries

antlr4_python3_runtime==4.9.3+computecanada
certifi==2024.8.30+computecanada
charset_normalizer==3.4.0+computecanada
contourpy==1.3.0+computecanada
cycler==0.12.1+computecanada
filelock==3.16.1+computecanada
fonttools==4.55.3+computecanada
fsspec==2024.10.0+computecanada
huggingface_hub==0.26.5+computecanada
hydra_core==1.3.2+computecanada
idna==3.10+computecanada
iopath==0.1.10
jinja2==3.1.4+computecanada
joblib==1.4.2+computecanada
kiwisolver==1.4.7+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.2+computecanada
-e git+https://github.com/kew6688/MicroNuclei_Detection.git@19fb0c98db6aaa84eac8be595bb80fde2ac4c309#egg=mn_segmentation&subdirectory=src
mpmath==1.3.0+computecanada
networkx==3.4.2+computecanada
numpy==2.1.1+computecanada
omegaconf==2.3.0+computecanada
packaging==24.2+computecanada
pillow==11.0.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
portalocker==3.0.0
pyparsing==3.2.0+computecanada
python_dateutil==2.9.0.post0+computecanada
PyYAML==6.0.2+computecanada
requests==2.32.3+computecanada
safetensors==0.4.5+computecanada
-e git+https://github.com/kew6688/MicroNuclei_Detection.git@19fb0c98db6aaa84eac8be595bb80fde2ac4c309#egg=SAM_2&subdirectory=external\sam2
scikit_learn==1.5.2+computecanada
scipy==1.14.1+computecanada
six==1.17.0+computecanada
sympy==1.13.1+computecanada
threadpoolctl==3.5.0+computecanada
timm==1.0.11+computecanada
torch==2.5.1+computecanada
torchvision==0.20.1+computecanada
tqdm==4.67.1+computecanada
typing_extensions==4.12.2+computecanada
urllib3==2.2.3+computecanada
